
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content">

        <h1>GUTSCHEIN</h1>
        <div class="inner">
            <h2>Nutzen Sie unseren Gutschein und lernen Sie uns kennen</h2>

            <div class="printbox col-xs-8">
                <img src="{{page.basePath}}assets/img/gutschein.jpg" alt="Gutschein für einen „Ersttermin“ und Information bezüglich einer Unternehmensberatung.
                        Ein erster Termin in somit vollständig kostenfrei.">
            </div>

            {{!-- <div class="col-xs-4 ">
                <a>Drucken</a>
            </div>  --}}

        </div>
    </div>

    </div>

    {{> "page-end"}}