
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>IMPRESSUM</h1>
        <div class="inner col-md-6">
            <p>
                <strong>GewinnMax</strong><br>
                Bargkoppelweg 67<br>
                22145 Hamburg<br>
                Telefon: 040 6113 6113<br>
                Telefax: 040 6113 6110<br>
                E-Mail: tk@gewinnmax.de
            </p>
            <p>
                <strong>Registrierungsnummer</strong><br>
                D-DW1C-OR0KC-44
            </p>
            <p>
                <strong>Betriebliche Anschrift</strong><br>
                GewinnMAX GmbH<br>
                Roggenkamp 7<br>
                23669 Timmendorfer Strand
            </p>
            <p>
                <strong>Postanschrift</strong><br>
                Postfach 1150, 23669 Timmendorfer Strand
            </p>
            <p>
                <strong>Allgemeine Informationen</strong> <br>
                GewinnMAX GmbH ist
                Unternehmensberatung
            </p>
            </div>

        <div class="inner col-md-6">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td><strong>Marketing:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Public Relations:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Webmaster:</strong></td>
                        <td>tk@<span class="displaynone">null</span>gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Internet:</strong></td>
                        <td>www.gewinnmax.de</td>
                    </tr>
                    <tr>
                        <td><strong>Rechtsform:</strong></td>
                        <td>GmbH</td>
                    </tr>
                    <tr>
                        <td><strong>Handelsregister:</strong></td>
                        <td>Amtsgericht Lübeck</td>
                    </tr>
                    <tr>
                        <td><strong>Geschäftsführer:</strong></td>
                        <td>Thomas Krämer</td>
                    </tr>
                    <tr>
                        <td><strong>Steuernummer:</strong></td>
                        <td>22/296/03401</td>
                    </tr>
                    <tr>
                        <td><strong>Umsatzsteuer:</strong></td>
                        <td>22/296/03401</td>
                    </tr>
                    <tr>
                        <td><strong>Gewerbeerlaubnis:</strong></td>
                        <td>Versicherungsvertreter mit Erlaubnis nach §34d Abs. 1 GewO</td>
                    </tr>
                    <tr>
                        <td><strong>Zuständige Registerstelle:</strong></td>
                        <td>Industrie- und Handelskammer zu Lübeck Fackenburger Allee 2 23554 Lübeck</td>
                    </tr>
                    <tr>
                        <td><strong>Gesetzliche Vertreter:</strong></td>
                        <td>Thomas Krämer, 23669 Timmendorfer Strand</td>
                    </tr>
                </table>
        </div>


        <div class="inner col-xs-12">
            <p>
                <strong>Inhalt des Onlineangebotes</strong><br>
                Die Webseiten der Gewinnmax GmbH werden permanent gepflegt. Sie werden mit größtmöglicher Sorgfalt erstellt. Dennoch kann der Anbieter keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Informationen übernehmen. Die Nutzung der Webseiten-Inhalte erfolgt auf eigene Gefahr. Allein durch die Nutzung der Website kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande. Der Anbieter behält sich ausdrücklich vor, einzelne Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
            </p>
            <!--
            <p>
                <strong>Verweise und Links</strong><br>
                Die Webseite enthält Verlinkungen zu anderen Webseiten („externe Links“). Diese Webseiten unterliegen der Haftung der jeweiligen Seitenbetreiber. Bei Verknüpfung der externen Links waren keine Rechtsverstöße ersichtlich. Auf die aktuelle und künftige Gestaltung der verlinkten Seiten hat der Anbieter jedoch keinen Einfluss. Die permanente Überprüfung der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Bekanntwerden von Rechtsverstößen werden die betroffenen externen Links unverzüglich gelöscht.
            </p>
            -->
            <p>
                <strong>Urheberrecht</strong><br>
                Die auf dieser Webseite durch den Anbieter veröffentlichten Inhalte sind urheberrechtlich geschützt. Jede vom deutschen Urheberrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters. Dies gilt insbesondere für die Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind als solche gekennzeichnet. Das unerlaubte Kopieren der Webseiteninhalte oder der kompletten Webseite ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.
            </p>
        </div>


    </div>

    </div>

    {{> "page-end"}}