{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content">

        {{!-- <h1>Herzlich Willkommen</h1> --}}

        <img src="assets/img/visual-start.jpg" style="width: 100%">

        <div class="module" data-module="teaser-text">
            <span data-asset="flag">Über uns</span>
            <h2>Wir beraten und betreuen</h2>
            <p>GewinnMax beschäftigt sich mit der Beratung von Firmen und privaten Haushalten. Unternehmen und private
                Haushalte wollen Kosten senken und Gewinne erhöhen. Wir sind die Unternehmensberater für Firmen und
                private
                Haushalte. Die Aufgabe unserer Spezialisten ist die Senkung der laufenden Kosten, effizienterer Einsatz
                der
                finanziellen Mittel und die Erhöhung der Einnahmen.</p>
            <a href="ueber-uns.html">Erfahren Sie mehr</a>
        </div>
        <div class="module" data-module="teaser-text">
            <span data-asset="flag">Für Firmen</span>
            <h2>Beratung mit Coaching und System</h2>
            <p>Bei der Unternehmensberatung haben wir uns auf kleine Unternehmen spezialisiert. Sie sind Chef und haben
                gerade Ihre Selbständigkeit begonnen oder führen ein erfolgreiches kleines Unternehmen? </p>
            <a href="unternehmensberatung/firmen.html">Dann sind Sie hier richtig!</a>
        </div>
        <div class="module" data-module="teaser-text">
            <span data-asset="flag">Für private Haushalte</span>
            <h2>Wir haben für Sie den Durchblick</h2>
            <p>Private Haushalte funktionieren wie ein Unternehmen, darum beraten wir sie auch so. Wir setzen Ihr Geld
                nach
                Ihren individuellen Zielen ein</p>
            <a href="unternehmensberatung/privat.html">Erfahren Sie mehr</a>
        </div>

    </div>
</div>

{{> "page-end"}}