
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>KARRIERE</h1>
        <div class="inner">
            <h2>Nutzen Sie Ihre Chance</h2>

            <p>Sie sind zwischen 20 – 35 Jahre alt und haben eine Ausbildung zum Bankkaufmann, Versicherungskaufmann, Versicherungsfachmann, Finanzanlagenfachmann oder ein Studienabschluss in den Bereichen:

            </p>
            <ul class="list">
                <li>Bachelor</li>
                <li>Bankkauffrau/ Bankkaufmann</li>
                <li>Versicherungskauffrau/ mann  </li>
                <li>Versicherungsfachfrau/ mann       </li>
                <li>Betriebswirt                           </li>
                <li>Dipl. Kauffrau/ mann                        </li>
                <li>Volljurist                                       </li>
            </ul>
            <p>
                <strong>Bewerben Sie sich bei der GewinnMax!</strong>

            </p>
            <br><br>
            <h2>Ihr Ansprechpartner:</h2>

            <p>
                <em>GewinnMAX</em><br>
                <strong>Thomas Krämer</strong><br>
                Bargkoppelweg 67<br>
                22145 Hamburg<br>
                tk@<span class="displaynone">null</span>gewinnmax.de
            </p>

        </div>


    </div>

    </div>

    {{> "page-end"}}