
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>KONTAKT</h1>
        <div class="inner ">
            <h2 class="col-xs-12">Wir freuen uns von Ihnen zu hören</h2>

            <div class="col-xs-3">
                <h3>Ihr Ansprechpartner:</h3>

                <p>
                    <em>GewinnMAX</em><br>
                    <strong>Thomas Krämer</strong><br>
                    Bargkoppelweg 67<br>
                    22145 Hamburg<br>
                    tk@<span class="displaynone">null</span>gewinnmax.de
                </p>
            </div>

            <div class="inner col-xs-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4163.028209858965!2d10.156523270708853!3d53.623779519862204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18af11ccdd4a7%3A0xe112c29f29132677!2sBargkoppelweg+67%2C+22145+Hamburg!5e0!3m2!1sde!2sde!4v1460300160636" width="470" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            </div>

        </div>

    </div>

    {{> "page-end"}}