
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>ÜBER UNS</h1>
        <div class="inner">
            <h2>GewinnMax beschäftigt sich mit der Beratung von Firmen und privaten Haushalten.  </h2>
            <div class="module" data-module="teaser-text-bild">
                <img src="assets/img/ueber-uns-kompetenz.jpg" alt="Über uns">
                <p>
                Unternehmen und private Haushalte wollen Kosten senken und Gewinne erhöhen. Wir sind die Unternehmensberater für Firmen und private Haushalte. Die Aufgabe unserer Spezialisten ist die Senkung der laufenden Kosten, effizienterer Einsatz der finanziellen Mittel und die Erhöhung der Einnahmen.

                Unsere Spezialisten analysieren die aktuelle Situation, überprüfen in unserem Rechenzentrum die Verträge  mit Vergleichsprogrammen und prüfen Alternativen.
                </p>
                <p>Bei der Prüfung verschiedener Alternativen werden steuerliche Aspekte beachtet und mit Fördermöglichkeiten kombiniert. Anschließend besprechen unsere Spezialisten die Ergebnisse mit Ihnen und zeigen Lösungswege auf.

                Unsere Spezialisten sind bestens ausgebildet und
                    übernehmen für Sie alle Aufgaben rund um das Thema Abwicklung im Zusammenhang mit Ihrem Depot von der Depoteröffnung bis hin zu allen Modalitäten rund um Ihre Anlagen.
                </p>
            </div>
        </div>


    </div>

    </div>

    {{> "page-end"}}