
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>BERATUNG FÜR FIRMEN

        </h1>

        <div class="inner col-xs-7">

            <p>Die meisten Unternehmer befinden sich in einem ständig drehenden "Hamsterrad": Neue Aufträge, Angebote, Probleme, steuerliche Aspekte, neue Gesetzgebungen, Mitarbeiter, Kunden,  - ein ganz normales Tagesgeschäft! Da bleibt wenig oder keine Zeit, über das nachzudenken oder Maßnahmen einzuführen, die die wirtschaftliche Situation des Unternehmens verbessern bzw. die Gewinne erhöhen. - Wir sind als Unternehmensberatung in der Lage diese Dienstleistung zu erbringen und begleiten Sie bei.</p>

            {{!-- <h2></h2> --}}
            <h3>Aufgaben unserer Unternehmensberatung</h3>
            <ul class="list">
                <li>Steigerung der Einnahmen
                </li>
                <li>Senkung der Kosten</li>
                <li>Senkung der Lohnnebenkosten</li>
                <li>Vergütungs- und Beteiligungsmodelle</li>
                <li>Businessplan</li>
                <li>Unternehmensstrategie</li>
                <li>Existenzgründung</li>
                <li>Nachfolgeregelung</li>
                <li>Mitarbeiterschulungen </li>
                <li>Prozessoptimierung</li>
                <li>Schulungen für Mitarbeiter</li>
            </ul>

        </div>

        <div class="inner col-xs-5">
            <img src="{{page.basePath}}assets/img/fuer-unternehmen.jpg">
        </div>

    </div>

    </div>

{{> "page-end"}}