
{{> "page-head"}}

<div class="container">

    <div class="content" data-module="content" data-controller="modules/Content">

        <h1>BERATUNG FÜR PRIVATE HAUSHALTE</h1>

        <div class="inner col-xs-12">

            <h2>PRIVATE HAUSHALTE FUNKTIONIEREN WIE EIN UNTERNEHMEN.<br>
                DARUM BERATEN WIR SIE AUCH SO.</h2>
            <h3>Die wichtigsten Herausforderungen:</h3>
            <ul class="list">
                <li>Energie- und Lebenshaltungskosten
                    werden ständig teurer und steigen stärker als Ihr Einkommen
                </li>
                <li>staatliche Fördermöglichkeiten sind sehr schwierig zu verstehen</li>
                <li>der Finanzmarkt bietet eine große Anzahl an Produkten und Anbietern</li>
                <li>ein Haushalt hat viele unterschiedliche
                    Ansprechpartner für seine verschiedenen
                    Verträge
                </li>
                <li>Viele Geldanlagen bringen immer
                    weniger Zinserträge
                </li>
                <li>Die Inflation entwertet Ihr Geld</li>
            </ul>

            <h2>ES IST GAR NICHT SO EINFACH,
                BEI DEN FINANZEN IMMER
                DURCHZUBLICKEN.
            </h2>

            <h3>Die Konsequenzen für den privaten Haushalt:</h3>

            <ul class="list">
                <li>es ist schwer, den Überblick über Einnahmen
                    und Ausgaben zu behalten
                </li>
                <li>am Monatsende bleibt oft zu wenig Geld
                    für Wünsche und Ziele übrig
                </li>
                <li>Fördermöglichkeiten werden nicht
                    voll ausgeschöpft
                </li>
                <li>der Aufbau von Vorsorge und Vermögen
                    wird schwieriger
                </li>
                <li>kein Ansprechpartner kann Ihren Haushalt
                    ganzheitlich betrachten
                </li>
            </ul>
        </div>


        <div class="inner col-xs-7">
            <h2>BERATUNG UND COACHING
                MIT SYSTEM
            </h2>

            <h3>Mehr Sicherheit, weil wir immer für Sie da sind!</h3>

            <ul class="list">
                <li>Wir schützen Sie vor finanziellen Risiken
                </li>
                <li>Wir beraten Sie ausgezeichnet
                </li>
                <li>Wir begleiten Sie ein Leben lang
                </li>
            </ul>

            <h3>Mehr Zeit, weil wir uns um alles kümmern!</h3>

            <ul class="list">
                <li>Sie behalten immer den Überblick über
                    Ihre Einnahmen und Ausgaben

                </li>
                <li>Sie wissen genau, was für Ihren Haushalt das Richtige ist
                </li>
                <li>Sie können uns die Ordnung Ihrer
                    Finanzverträge überlassen

                </li>
            </ul>

            <h3>Mehr Geld, weil wir alles aufzeigen, was Ihnen zusteht!</h3>

            <ul class="list">
                <li>Wir zeigen Ihnen das beste Preis-Leistungs-Verhältnis
                    für Ihre Verträge
                </li>
                <li>Wir helfen Ihnen, staatliche Förderungen
                    optimal zu nutzen
                </li>
                <li>Wir setzen Ihr Geld nach Ihren individuellen Zielen ein</li>
            </ul>

        </div>

        <div class="col-xs-5">

            <img src="{{page.basePath}}assets/img/fuer-private-haushalte.jpg"></img>
        </div>

    </div>

    </div>

    {{> "page-end"}}